<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body class="col-sm-12">
    <div class="card mb-4">
        <div class="card-header bg-primary text-white">
            {{announcement_data.author}}  {{ announcement_data.data }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ announcement_data.topic }}</h5>
            <p class="card-text">{{ announcement_data.text_of_announcement }}</p>
        </div>
    </div>
    <div class="card mb-4">
        <h5>Теги:</h5>
        <div class="ml-4">
            {% for tag in tags %}
                {{ tag.title }} <br>
            {% endfor %}
        </div>
    </div>
    <div class="card mb-4">
        <h5>Комментарии</h5>
        <div class="ml-4">
            {% for comment in comments %}
                <div class="card">
                    <div class="card-header">
                        Автор: {{comment.author_of_comment }}
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ comment.text }}</p>
                        </blockquote>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if username %}
        <div class="card ml-4 mb-4 bg-light">
            <form action="{% url 'add_comment_url' slug=announcement_data.slug %}" class="mb-2 mt-4" method="post">
                {% csrf_token %}
                {{ form.text }}
                <br>
                <button class="btn btn-primary" type="submit">Написать комментарий</button>
            </form>
        </div>
        <div class="card ml-4 mb-4">
            <form action="{% url 'add_tag_url' slug=announcement_data.slug %}" method="post">
                {% csrf_token %}
                {{ form2.as_p }}
                <button class="btn btn-primary" type="submit">Добавить тег</button>
            </form>
        </div>
    {% else %}
    <h5>Чтобы писать комментарии и добавлять тэги, вам нужно войти на сайт.</h5>
    {% endif %}
    <div class="ml-4 mb-4">
        <form action="{% url 'list_of_announcement_url' %}" method="get">
            <button class="btn btn-light" type="submit">Вернуться к остальным новостям</button>
        </form>
    </div>
</body>
</html>